body {
    padding: 0px;
    margin: 0px;
}

.bd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 410px;
    height: 50px;
    font-weight: 500;
    font-size: 25px;
    background-color: rgb(219 217 217);
    border: 1px solid gray;
    border-radius: 4px;
    user-select: none;
}

.wrapper {
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    min-height: 100px;
    max-height: 600px;
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.make_date_and_tasks_div {
    min-height: 35px;
    display: flex;
    flex-basis: 100%;
    margin-bottom: 10px;
    user-select: none;
}

.make_input_div {
    min-height: 35px;
    display: flex;
    flex-basis: 100%;
    margin-bottom: 10px;
}

#input {
    flex-basis: 80%;
    border-radius: 3px;
    padding: 3px;
}

.sub {
    flex-basis: 20%;
    display: flex;
    height: 35px;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 176, 176);
    border: 1px solid gray;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 5px;
    user-select: none;

}

.sub:hover {
    box-shadow: 1px 1px 1px 1px #d5d1d1;
    cursor: pointer;
}

.number_of_tasks {
    margin-top: 0px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    flex-basis: 50%;
    border-radius: 3px;
    border: 1px solid gray;
}

.date_of_nearest_task {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    flex-basis: 50%;
    border: 1px solid gray;
    border-radius: 3px;
}

.tasks_div {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dfdfdf;
    flex-basis: 100%;
    min-height: 50px;
    max-height: 500px;
    border: 1px solid gray;
    border-radius: 3px;
    overflow: auto;
}

.task {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    min-height: 50px;
    flex-basis: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.data {
    flex-wrap: wrap;
    display: flex;
    flex-basis: 80%;
    height: 100%;
    margin-right: 2px;
}

.true_and_false {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    display: flex;
    flex-basis: 10%;
    height: 100%;
    user-select: none;

}

.Tr {
    flex-basis: 100%;
    height: 47%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2px;
}

.Tr:hover {
    text-shadow: 0 0 5px #347e28;
    display: flex;
    cursor: pointer;
    user-select: none;

}

.Fl {
    height: 47%;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 18px;
}

.Fl:hover {
    text-shadow: 0 0 5px #d51f1f;
    user-select: none;
    display: flex;
    cursor: pointer;
}

.edit_and_description {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 20px;
    display: flex;
    flex-basis: 10%;
    height: 100%;
    user-select: none;
}

.Ed {
    height: 47%;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-left: 3px;
    margin-top: 2px;
}

.Ed:hover {
    text-shadow: 0 0 5px #5a5959;
    user-select: none;
    display: flex;
    cursor: pointer;
}

.description {
    height: 47%;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 25px;
    margin-left: 3px;
    margin-bottom: 3px;
}

.description:hover {
    cursor: pointer;
    text-shadow: 0 0 5px #5a5959;
}

span {
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    display: inline-block;
    width: 100%;
    min-height: 20px;
}

.date_in_task {
    font-size: 13px;
}

.done {
    text-decoration: line-through;
    color: #02b15a;
}
.late{
    text-decoration: line-through;
    color: #ee0404db;
}

.tr_done {
    text-decoration: none;
}

.array_task_desc {
    top: 0px;
    display: none;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgba(0, 0, 0, 0.234);
    color: #ededed;
    position: absolute;
    z-index: 5;
}

.edit_div {
    margin-bottom: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 500px;
    width: 400px;
    background-color: #fff;
    border: 1px solid gray;
    border-radius: 4px;
}

.title_in_edit_div {
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 10px;
    min-height: 20px;
    user-select: none;
    flex-basis: 10%;
    width: 95%;
}

.title_placeholder_in_edit {
    padding-left: 5px;
    height: 30px;
    width: 280px;
    border-radius: 3px;
    border: 2px solid rgba(0, 128, 0, 0.561);
}

.title_in_edit {
    color: black;
    /* background-color: rgb(255, 166, 166); */
    height: 20px;
    width: 50px;
}

.end_date_in_edit_div {
    margin-bottom: 1px;
    padding-top: 10px;
    padding-left: 10px;
    min-height: 20px;
    user-select: none;
    flex-basis: 10%;
    width: 95%;
}

.end_date_in_edit {
    color: black;
    height: 20px;
    width: 100px;
}

#end_date {
    border-radius: 3px;
    border: 2px solid rgba(0, 128, 0, 0.561);
    font-size: 15px;
    font-family: cursive;
    color: rgb(225, 56, 41);
    width: 232px;
    padding: 2px;

}

.Description_in_edit_div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 10px;
    min-height: 20px;
    user-select: none;
    flex-basis: 50%;
    width: 95%;
    margin-bottom: 10px;
}

.description_in_edit {
    color: black;
    height: 20px;
    width: 110px;
    background-color: #fff;
    margin-right: 5px;
    
}

.buttons_in_edit {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 20px;
    user-select: none;
    flex-basis: 10%;
    width: 100%;
    
}
textarea{
    border: 2px solid rgba(0, 128, 0, 0.561);
    border-radius: 3px;
}
.cancel_button{
    display: flex;
    color: black;
    background-color: rgb(205, 205, 205);
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 60px;
    box-shadow: 1px 1px 1px 1px rgb(81, 80, 80);
}
.cancel_button:hover{
    box-shadow: 1px 1px 5px 1px rgb(81, 80, 80);
    cursor: pointer;
}
.save_button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(205, 205, 205);
    height: 35px;
    width: 60px;
    box-shadow: 1px 1px 1px 1px rgb(81, 80, 80);
}
.save_button:hover{
    box-shadow: 1px 1px 5px 1px rgb(81, 80, 80);
    cursor: pointer;

}

